<footer class="footer py-3 mt-auto">
    <div class="container">
        <span>&copy; <%= new Date().getFullYear() %> Cooks Companion - All Rights Reserved. Designed and developed by <a target="_blank" href="http://www.takudzwamaseva.com/" class="footer-link">Takudzwa Maseva</a></span>
    </div>
</footer>

  
  