<footer class="footer py-3 mt-auto">
    <div class="container">
        <span>&copy; 2023 Cooks Companion - All Rights Reserved. Designed and developed by <a href="http://www.takudzwamaseva.com/" class="footer-link">Takudzwa Maseva</a></span>
    </div>
</footer>

  
  