<% layout("layout/boilerplate") %>
<div class="container mt-5">
  <div class="row mt-5">
    <div class="col-6 offset-3 mt-5">
      <div class="alert alert-danger text-center" role="alert">
        <h4 class="alert-heading">Oops! <%= err.message %></h4>
        <p>We're sorry, but something went wrong.</p>
        <a href="/recipes" class="btn btn-primary">Go to Recipes</a>
      </div>
    </div>
  </div>
</div>
