<% layout("layout/boilerplate") %>
  <h1>Favorites</h1>
  <% if (favorites.length > 0) { %>
    <% favorites.forEach((favorite) => { %>
      <div>
        <h3><%= favorite.title %></h3>
        <img src="<%= favorite.image %>" alt="<%= favorite.title %>" />
      </div>
      <form action="/recipes/favorites/remove" method="post">
        <input type="hidden" name="recipeId" value="<%= favorite.id %>">
        <button type="submit" class="btn btn-success">Remove recipe</button>
      </form>
    <% }); %>
  <% } else { %>
    <p>No favorites added yet.</p>
  <% } %>


