<% layout("layout/boilerplate") %>
<div class="container mb-5 mt-5">
  <div class="row justify-content-center mt-5">
    <div class="col-md-4 mt-5">
      <div class="card shadow">
        <div class="card-body">
          <h4 class="text-center mb-4">Change Password</h4>
          <form action="/change-password" method="post" class="needs-validation" novalidate>

            <div class="form-group mb-3">
              <i class="fas fa-user"></i>
              <label class="form-label" for="oldPassword"></i> Old Password <span class="text-danger">*</span></label>
              <div class="input-group">
                <input placeholder="Enter your old password" type="password" id="oldPassword" name="oldPassword" class="form-control password-input" required value="<%= formData ? formData.oldPassword : '' %>">
                
                <div class="invalid-feedback">
                  Enter your old password to continue.
                </div>
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>
            </div>

            <div class="form-group mb-3">
              <i class="fas fa-lock"></i>
              <label class="form-label" for="oldPassword">New Password <span class="text-danger">*</span></label>
              <div class="input-group">
                <input placeholder="Enter your new password" type="password" id="password" name="newPassword" class="form-control password-input" required value="<%= formData ? formData.newPassword : '' %>">
                
                <div class="invalid-feedback">
                  Enter your new password to continue.
                </div>
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>
              <div id="password-strength-meter" class="mt-2"></div>
              <div id="password-strength-text" class="text-muted"></div>
            </div>

            <div class="form-group mb-3">
              <i class="fas fa-lock"></i>
              <label class="form-label" for="confirmNewPassword"></i> Confirm Password <span class="text-danger">*</span></label>
              <div class="input-group">
                <input placeholder="Confirm your new password" type="password" id="confirmNewPassword" name="confirmNewPassword" class="form-control password-input" required value="<%= formData ? formData.confirmNewPassword : '' %>">
                
                <div class="invalid-feedback">
                  Confirm your new password to continue.
                </div>
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>
            </div>

            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-success btn-block mt-4">Change Password</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>




