<% layout("layout/boilerplate") %>
<div class="container mt-5 my-5">
  <div class="row justify-content-center mt-5">
    <div class="col-md-4 mt-5">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6 mb-3">
              <h4>Profile</h4>
            </div>
            <div class="col-md-6 text-md-end mb-2 mb-md-0">
              <a class="btn btn-sm btn-success" style="color: #333;" href="/password"><i class="fas fa-lock"></i> Password</a>
            </div>
          </div>
          <form action="/profile/<%= user._id %>?_method=PUT" method="post" class="needs-validation" novalidate>
            <div class="mb-3 mt-3">
              <label for="username" class="form-label"><i class="bi bi-person-fill"></i> Username</label>
              <input placeholder="Enter your username" type="text" name="username" class="form-control" value="<%= user.username %>" required>
              <div class="invalid-feedback">
                Enter a username to continue
              </div>
            </div>
           
            <div class="mb-3">
              <label for="email" class="form-label"><i class="bi bi-envelope-fill"></i> Email</label>
              <input placeholder="Enter your email" type="email" name="email" class="form-control" value="<%= user.email %>" required>
              <div class="invalid-feedback">
                Enter an email to continue
              </div>
            </div>
            <div class="d-grid gap-2">
              <button style="color: #333" type="submit" class="btn btn-success mt-4">Save Changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
