.card {
  background-color: #9CCB9A;
  color: #333333; 
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

.features i {
  font-size: 48px;
  margin-bottom: 20px;
}

.features h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.features p {
  font-size: 16px;
  color: #777;
}

.hero {
  text-align: center;
  /* padding: 40px 0; */
}

.slogan {
  font-size: 18px;
  color: #777;
  margin-bottom: 10px;
}

.featured-recipes,
.recipe-categories,
.recipe-of-the-day,
.top-rated-recipes,
.cta-section {
  padding: 40px 0;
}
/* .cta-btn {
  display: inline-block;
  background-color: #9CCB9A;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
} */

.cta-btn {
  display: inline-block;
  background-color: #9CCB9A;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
  border: none;
}

.cta-btn:hover {
  background-color: #6dab78;
}

.cta-btn.view-recipes {
  background-color: #5c9c67;
  color: #333;
  border: none;
}

.cta-btn.view-recipes:hover {
  background-color: #3e8b53;
}



/* 
.recipe-categories {
    background-color: #9CCB9A;
    padding: 50px 0;
  }
  
  .recipe-cards {
    display: flex;
    justify-content: space-between;
  }
  
  .recipe-card {
    flex-basis: calc(33.33% - 20px);
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .recipe-card img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .recipe-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .recipe-card p {
    font-size: 16px;
    margin-bottom: 20px;
  } */
/*   
  .btn-primary {

    display: inline-block;
    background-color: #9CCB9A;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  
} */
  