body {
  background-color: #9CCB9A;
  color: #333333; 
}

.navbar-nav .nav-link {
  color: #333333; 
}

.recipe-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

header {
  background-color: #9CCB9A;
  padding: 20px;
  color: #fff;
}

.favorite-form {
  position: absolute;
  top: 10px;
  right: 10px;
}

.favorite-button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
  transition: color 0.3s;
  font-size: 25px; /* Adjust the font-size to your desired size */
}

.favorite-button:hover {
  color: #ff0000; /* Change to your desired color */
}




