body {
  background-color: #9CCB9A;
  color: #333333; 
}

.navbar-nav .nav-link {
  color: #333333; 
}


header {
  background-color: #9CCB9A;
  padding: 20px;
  color: #fff;
}


.hero {
  text-align: center;
  padding: 40px 0;
}

.cta-btn {
  display: inline-block;
  background-color: #9CCB9A;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.featured-recipes,
.recipe-categories,
.recipe-of-the-day,
.top-rated-recipes,
.cta-section {
  padding: 40px 0;
}

footer {
  background-color: #9CCB9A;
  padding: 20px;
  color: #fff;
  text-align: center;
}




